body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.marker{
transform: translate(-50%,-100%);
}

.marker.red path {
  fill: #f05303;
}

.marker.yellow path {
  fill: #f3b73e;
}
.popup{
  width: 30vw; 
  padding: 1rem;
}

.entry-form label, 
.entry-form input, 
.entry-form textarea, 
.entry-form button {
  font-size: 1rem;
  margin:0.5rem 0;
  display: block;
  width:100%;
}